.dashboard-card{

width:470px;

background:#fff;

border-radius:34px;

padding:28px;

box-shadow:0 25px 60px rgba(15,23,42,.08);

border:1px solid #EDF1EF;

position:relative;

overflow:hidden;

}

.dashboard-card::before{

content:"";

position:absolute;

width:180px;

height:180px;

right:-70px;

top:-70px;

background:#EDF8EF;

border-radius:50%;

}
.dashboard-top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

position:relative;

z-index:2;

}

.coin{

display:flex;

gap:18px;

align-items:center;

}

.coin-icon{

width:58px;

height:58px;

background:#EDF8EF;

color:#5FA777;

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

font-weight:bold;

}

.coin-title{

font-size:15px;

color:#64748B;

}

.coin h2{

font-size:44px;

margin-top:4px;

color:#0F172A;

}

.profit{

padding:12px 18px;

border-radius:999px;

background:#EDF8EF;

color:#16C784;

font-weight:700;

font-size:22px;

}
.dashboard-chart{

margin:25px 0;

height:220px;

border-radius:22px;

border:1px solid #E8ECEB;

background:

linear-gradient(#0000,#0000),

repeating-linear-gradient(
90deg,
transparent,
transparent 31px,
#EEF2EF 32px
),

repeating-linear-gradient(
0deg,
transparent,
transparent 31px,
#EEF2EF 32px
);

display:flex;

justify-content:center;

align-items:center;

}
.dashboard-middle{

display:flex;

justify-content:space-between;

margin-top:18px;

}

.dashboard-middle span{

font-size:14px;

color:#64748B;

}

.dashboard-middle h3{

margin-top:8px;

font-size:28px;

}

.green{

color:#16C784;

}

.progress{

margin-top:12px;

width:160px;

height:8px;

background:#EDF3EE;

border-radius:999px;

overflow:hidden;

}

.fill{

width:94%;

height:100%;

background:#5FA777;

}
.models{

margin-top:30px;

padding-top:22px;

border-top:1px solid #EEF2EF;

}

.models span{

font-size:14px;

color:#64748B;

}

.models p{

margin-top:8px;

font-weight:600;

color:#0F172A;

}

.updated{

margin-top:25px;

padding-top:18px;

border-top:1px solid #EEF2EF;

color:#64748B;

font-size:15px;

}